* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container {
  width: 100%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 100px;
  font-size: 13px;
}

.header-nav__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__tabs a {
  color: #666666;
  text-decoration: none;
  margin-right: 10px;
}

.header-nav__tabs p {
  margin-right: 10px;
}

.header-nav__tabs .active {
  color: #000000;
}

.header-nav__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 15px;
}

.header-nav__phone p {
  margin-right: 15px;
}

.header-nav__phone span {
  background-color: #ff9d00;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.header-nav__portal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__portal p {
  color: #666666;
  margin-right: 15px;
}

.header-nav__portal img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #ef3929;
  height: 50px;
  font-size: 18px;
}

.header-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 100px;
}

.header-menu__nav img {
  height: 100%;
}

.header-menu__nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 25px;
}

.header-menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px 0px 0px;
}

.header-menu__search button {
  width: 100px;
  height: 100%;
  background-color: #b7222f;
  border: none;
  color: #fff;
  font-size: 18px;
}

.header-menu__search p {
  padding-right: 15px;
  color: #fff;
}

.header-menu__search p i {
  margin-left: 5px;
}

.header-menu__search input {
  background: none;
  border: none;
  margin-right: 15px;
  font-size: 18px;
}

.header-menu__search input:focus {
  background-color: white;
}

.header-menu-mobile {
  display: none;
}

.header-breadcumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  height: 50px;
  padding-left: 100px;
  color: #0fbddf;
}

.header-breadcumb a {
  text-decoration: none;
  color: #0fbddf;
  padding: 0 5px;
  font-size: 18px;
}

.header-breadcumb .active {
  color: #000000;
}

.banner {
  width: 100%;
}

.banner-mobile {
  display: none;
}

.banner img {
  width: 100%;
}

.specifications {
  padding: 70px 200px 45px;
  width: 100%;
}

.specifications-container {
  width: 100%;
}

.specifications-cont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.specifications-cont__field {
  text-align: center;
}

.specifications-cont__field img {
  margin-bottom: 10px;
}

.specifications-cont__field h3 {
  font-weight: 500;
}

.specifications-cont__field p {
  font-size: 14px;
}

.specifications-inscription {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 150px;
}

.specifications-inscription button {
  width: 175px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #00bee1;
  font-size: 20px;
  color: white;
}

.specifications-inscription p {
  font-size: 14px;
  margin-top: 25px;
}

.ruta {
  background-image: url("../assets/img/back-red.png");
  background-repeat: no-repeat;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.ruta h2 {
  color: white;
  font-weight: 600;
  font-style: italic;
  font-size: 32px;
}

.ruta .line {
  margin-top: 15px;
  width: 150px;
  height: 2.5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.ruta .line::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6px;
  width: 6px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  top: -1.5px;
  right: 0%;
}

.ruta .line:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6px;
  width: 6px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  top: -1.5px;
  left: 0%;
}

.ruta img {
  margin-top: 25px;
}

.ruta-img__mobile {
  display: none;
}

.ruta-img__web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ruta a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.ruta a span {
  margin-right: 5px;
  font-weight: 600;
}

.inscripcion {
  background-image: url("../assets/img/back-insc.jpg");
  background-repeat: no-repeat;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px 350px 25px;
}

.inscripcion-kits {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inscripcion-kits-web {
  display: block;
}

.inscripcion-kits-mobile {
  display: none;
}

.inscripcion-title {
  margin-top: 25px;
}

.inscripcion-title p {
  font-size: 22px;
}

.inscripcion-title p .text-red {
  color: #da272c;
  font-weight: 600;
}

.inscripcion-title p .text-black {
  color: black;
  font-weight: 700;
}

.inscripcion .pin {
  margin: 15px 0;
}

.inscripcion-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inscripcion-banner img {
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.inscripcion-banner p {
  font-size: 22px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: relative;
  font-weight: 500;
}

.inscripcion-steps {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

.inscripcion-steps .pin-step {
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.inscripcion-steps__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
}

.inscripcion-steps__step--title {
  color: #d54537;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
}

.inscripcion-steps__step--text {
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
}

.inscripcion-participar {
  margin-top: 75px;
}

.inscripcion-participar button {
  margin-top: 25px;
  background-color: #0fbddf;
  width: 175px;
  height: 50px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.inscripcion-participar__info {
  font-size: 18px;
}

.inscripcion-participar__info--enfasis {
  color: #0fbddf;
}

.inscripcion-participar__terms {
  margin-top: 25px;
  font-size: 12px;
  font-weight: 300;
}

.inscripcion-participar__terms--enfasis {
  color: #0fbddf;
}

.prize {
  background-image: url("../assets/img/back-blue.png");
  background-repeat: no-repeat;
  padding: 50px 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.prize-container {
  height: 350px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.prize-container__title {
  font-size: 24px;
  font-weight: 700;
}

.prize-container__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 300;
}

.donwload {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.donwload-playlist {
  margin-left: 25px;
}

.donwload-playlist p {
  font-weight: 300;
  font-size: 18px;
}

.donwload-playlist button {
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #00bee1;
  color: white;
  font-size: 18px;
  height: 35px;
  width: 100px;
}

.donwload-playlist__store {
  margin-bottom: 15px;
  margin-top: 10px;
}

.donwload-playlist__store a {
  margin-right: 15px;
}

.donwload-playlist__social {
  margin-top: 15px;
}

.donwload-playlist__social a {
  margin-right: 15px;
}

.clients {
  background-color: #eaeaea;
  height: 120px;
  width: 100%;
  padding: 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #2e2e2e;
  width: 100%;
  height: 125px;
  padding: 10px 125px;
  font-size: 14px;
  color: white;
}

.footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer-title img {
  width: 50px;
}

.footer-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 5px;
  text-align: center;
}

.footer-info a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-container {
    width: 100%;
  }
  .header-nav {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-breadcumb {
    display: none;
  }
  .header-menu-mobile {
    background-color: #ef3929;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-menu-mobile__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 10px 25px 10px 15px;
  }
  .header-menu-mobile__head--btn {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu-mobile__head--btn button {
    background-color: #ef3929;
    border: none;
    font-size: 24px;
    color: white;
  }
  .header-menu-mobile__head--btn img {
    height: 100%;
    margin-left: 15px;
  }
  .header-menu-mobile__head--search {
    font-size: 24px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu-mobile__head--search input {
    width: 75px;
    background: none;
    border: none;
  }
  .header-menu-mobile__head--search input:focus {
    background-color: white;
    height: 18px;
  }
  .header-menu-mobile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ef3929;
    width: 100%;
    padding: 10px 25px 10px 15px;
  }
  .header-menu-mobile__list a {
    text-decoration: none;
    color: white;
    margin: 5px 0;
    border-bottom: 1px solid white;
  }
  .banner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner-web {
    display: none;
  }
  .banner-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner img {
    width: 100%;
  }
  .specifications {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 15px;
    width: 100%;
  }
  .specifications-container {
    width: 100%;
  }
  .specifications-cont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .specifications-cont__field {
    text-align: center;
    margin: 15px 0;
  }
  .specifications-cont__field img {
    margin-bottom: 10px;
  }
  .specifications-cont__field h3 {
    font-weight: 500;
  }
  .specifications-cont__field p {
    font-size: 14px;
  }
  .specifications-inscription {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  .specifications-inscription button {
    width: 175px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: #00bee1;
    font-size: 20px;
    color: white;
  }
  .specifications-inscription p {
    font-size: 14px;
    margin-top: 25px;
  }
  .ruta {
    background-image: url("../assets/img/back-red-mobile.png");
    background-repeat: no-repeat;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 10px;
  }
  .ruta-img__web {
    display: none;
    margin-top: 25px;
  }
  .ruta-img__mobile {
    display: block;
    margin-top: 15px;
    width: 100%;
  }
  .ruta a {
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  .ruta a span {
    margin-right: 5px;
    font-weight: 600;
  }
  .inscripcion {
    background-image: url("../assets/img/back-insc-mobile.png");
    padding: 50px 15px 25px;
  }
  .inscripcion-kits-web {
    display: none;
  }
  .inscripcion-kits-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .inscripcion-title {
    margin-top: 25px;
  }
  .inscripcion-title p {
    font-size: 22px;
  }
  .inscripcion-title p .text-red {
    color: #da272c;
    font-weight: 600;
  }
  .inscripcion-title p .text-black {
    color: black;
    font-weight: 700;
  }
  .inscripcion .pin {
    margin: 15px 0;
  }
  .inscripcion-banner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inscripcion-banner img {
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .inscripcion-banner p {
    font-size: 22px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    position: relative;
    font-weight: 500;
  }
  .inscripcion-steps {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .inscripcion-steps .pin-step {
    display: none;
  }
  .inscripcion-steps__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
  }
  .inscripcion-steps__step--title {
    color: #d54537;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
  }
  .inscripcion-steps__step--text {
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
  }
  .inscripcion-participar {
    margin-top: 75px;
  }
  .inscripcion-participar button {
    margin-top: 25px;
    background-color: #0fbddf;
    width: 175px;
    height: 50px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
  }
  .inscripcion-participar__info {
    font-size: 18px;
  }
  .inscripcion-participar__info--enfasis {
    color: #0fbddf;
  }
  .inscripcion-participar__terms {
    margin-top: 25px;
    font-size: 12px;
    font-weight: 300;
  }
  .inscripcion-participar__terms--enfasis {
    color: #0fbddf;
  }
  .prize {
    background-image: url("../assets/img/back-blue-mobile.png");
    background-repeat: no-repeat;
    padding: 50px 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prize-container {
    height: 350px;
    width: 100%;
    margin-bottom: 20px;
  }
  .prize-container__title {
    font-size: 24px;
    font-weight: 700;
  }
  .prize-container__text {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-weight: 300;
  }
  .donwload {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .donwload-playlist {
    margin-top: 25px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  .donwload-playlist p {
    font-weight: 300;
    font-size: 18px;
  }
  .donwload-playlist button {
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: #00bee1;
    color: white;
    font-size: 18px;
    height: 35px;
    width: 100px;
  }
  .donwload-playlist__store {
    margin-bottom: 15px;
    margin-top: 25px;
  }
  .donwload-playlist__store a {
    margin-right: 15px;
  }
  .donwload-playlist__social {
    margin-top: 15px;
  }
  .donwload-playlist__social a {
    margin-right: 15px;
  }
  .clients {
    background-color: #eaeaea;
    height: auto;
    width: 100%;
    padding: 30px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .clients img {
    margin: 10px 0;
  }
  .footer {
    background-color: #2e2e2e;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    display: block;
  }
  .footer-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer-title img {
    width: 50px;
  }
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5px;
    text-align: left;
    margin-top: 25px;
  }
  .footer-info a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */